<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1>About Us</h1>
<p>This is a word counter website created for basic text analysis, for example,
    from word counting <br/>
    to word analysis to <br/>
    how many words in a sentence and so on and so forth
</p><br/>
It is a simple project created by me while taking the Nick Walter udemy django tutorial.
<br/>
Thank you for testing!! <br/>
please do leave your feedback below!
<br/>
<br/>

<form ><textarea>'feedback'</textarea></form>

<br/>
<a href="{% url 'home' %}">Return home</a>


</body>
</html>